argparse
mock
Crypto
daemon
logging
pyinotify
pyopenssl>=16.2.0
pytest
pytest-pythonpath
pyyaml
requests>=2.13.0
salt-ssh==2019.2.3
pylint
saltpylint
singledispatch
six
smmap2
tornado
urllib3
vulners
