backports-abc
certifi
chardet
croniter
futures
gitdb2
gitpython
idna
jinja2
markupsafe
mock
msgpack
pyinotify
python-dateutil
pyyaml
requests
salt-ssh
singledispatch
six
smmap2
tornado
urllib3
vulners
ntplib
