pyinstaller==3.3.1
Tornado>=4.0.0,<5.0.0
crypto
pycryptodome
cryptography
pyopenssl
argparse
requests>=2.13.0
daemon
boto3
botocore
pygit2
salt-ssh
gitpython
pyinotify
cffi
azure-storage-blob
croniter
vulners
ntplib
