pyinstaller==3.3.1
Tornado>=4.0.0,<5.0.0
crypto
pycryptodome
cryptography
pyopenssl>=16.2.0
argparse
requests>=2.13.0
pprint
daemon
boto3
botocore
pygit2<0.27.0
salt-ssh
gitpython
pyinotify
cffi
azure==4.0.0
azure-storage-common==2.1.0
azure-storage-blob==2.1.0
croniter
vulners
ntplib
