cachedir: /hubble/tests/unittests/output/.cache
config_to_grains:
- splunkindex: hubblestack:returner:splunk:0:index
file_roots:
  base:
  - tests/unittests/resources
fileserver_backend:
- roots
grains_persist:
- fqdn
- cloud_details
hubble_status:
  bucket_len: 300
  max_buckets: 3
hubblestack:
  returner:
    sqlite:
      dumpster: tests/unittests/sqlite.dumpster
id: test-minion
log_file: /hubble/tests/unittests/output/hubble.log
pidfile: /hubble/tests/unittests/output/.pidfile
repo_signing:
  ca_crt:
  - tests/unittests/resources/pretend-certs/ca-root.crt
  - tests/unittests/resources/pretend-certs/bundle.pem
  private_key: tests/unittests/resources/pretend-certs/private-1.key
  public_crt: tests/unittests/resources/pretend-certs/public-1.crt
  require_verify: false
scan_proc: false
splunk_index_extracted_fields:
- cloud_instance_id
- cloud_account_id
- cloud_type
- system_uuid
splunklogging: false
