# vi:filetype=sls:

id: 'test-minion'

scan_proc: false

hubble_status:
  bucket_len: 300
  max_buckets: 3

file_roots:
  base:
    - tests/unittests/resources

fileserver_backend:
  - roots

hubblestack:
  returner:
    sqlite:
      dumpster: tests/unittests/sqlite.dumpster

splunklogging: False

config_to_grains:
  - splunkindex: "hubblestack:returner:splunk:0:index"

splunk_index_extracted_fields:
  - cloud_instance_id
  - cloud_account_id
  - cloud_type
  - system_uuid

grains_persist:
  - fqdn
  - cloud_details

repo_signing:
  require_verify: false
  ca_crt:
    - tests/unittests/resources/pretend-certs/ca-root.crt
    - tests/unittests/resources/pretend-certs/bundle.pem
  public_crt: tests/unittests/resources/pretend-certs/public-1.crt
  private_key: tests/unittests/resources/pretend-certs/private-1.key
