[Unit]
Description=Hubblestack
Requires=network-online.target
After=network-online.target
StartLimitInterval=350
StartLimitBurst=10

[Service]
Type=forking
PIDFile=/var/run/hubble.pid
ExecStart=/opt/hubble/hubble -d
Restart=always
RestartSec=30
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
