pyinstaller==3.2 # currently 3.2.1 version is not supported because of botocore exception
Crypto
pyopenssl
argparse
requests>=2.13.0
logging
pprint
daemon
boto3
botocore
pygit2
salt-ssh
gitpython
pyinotify
cffi
azure
