
table#lint {
  border: 3px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table#lint td, table#lint th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table#lint tbody td {
  font-size: 13px;
}
table#lint thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table#lint thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table#lint tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table#lint tfoot td {
  font-size: 14px;
}
